body {
	margin: 0;
	  padding: 0;
	  height: 100%;
	  /* background-image: url('https://neu.edu.ph/main/assets/images/NEU_Main2.jpg'); */
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 1180px;
	}
/* Top-nav part */
  .top-nav
  {
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	height: 6.5rem;
	width: calc(100% - 250px);
	float: right;
	background: rgb(79,1,98);
	background: -moz-linear-gradient(180deg, rgba(79,1,98,1) 11%, rgba(218,114,255,1) 55%, rgba(101,58,255,1) 97%);
	background: -webkit-linear-gradient(180deg, rgba(79,1,98,1) 11%, rgba(218,114,255,1) 55%, rgba(101,58,255,1) 97%);
	background: linear-gradient(180deg, rgba(79,1,98,1) 11%, rgba(218,114,255,1) 55%, rgba(101,58,255,1) 97%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f0162",endColorstr="#653aff",GradientType=1);
  }
  #title-dashboard {
	float: left;
	width: 800px;
	padding-left: 20px;
	padding-top: 12px;
  }

  /*search bar*/
  .top-nav .search-container {
	height: 50px;
	width: 550px;
	padding-top: 20px;
	float: right;
  }

  #searchBar {
	width: 400px;
	border-radius: 10px;
	height: 40px;
  }
  
  .top-nav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 20px;
	border: none;
  }
  
  .top-nav .search-container button {
	padding: 6px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 20px;
	border: none;
	cursor: pointer;
	height: 50px;
    width: 60px;
  }

#div-btns-profileLogout	{
	float: right;
	width: 300px;
	height: 50px;
	margin-top: 30px;
}

.myProfile-btn {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
	margin-right: 10px;
	height: 50px;
}
.myProfile-btn:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myProfile-btn:active {
	position:relative;
	top:1px;
}

.logout-btn {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	width: 40%;
	height: 50px;
}
.logout-btn:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.logout-btn:active {
	position:relative;
	top:1px;
}




  
  .top-nav .search-container button:hover {
	background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
	.top-nav .search-container {
	  float: none;
	}
	.top-nav a, .top-nav input[type=text], .top-nav .search-container button {
	  float: none;
	  display: block;
	  text-align: left;
	  width: 100%;
	  margin: 0;
	  padding: 14px;
	}
	.top-nav input[type=text] {
	  border: 1px solid #ccc;  
	}
  }

/* END Top-nav */


/* CK's part left-nav */
.left-nav {
	height: 100%;
	background-color: #1E4FFF;
	background-image: linear-gradient(135deg, #1904E5 10%, #FAB2FF 100%);
	width: 250px;
	/* position: absolute; */
	top: 0;
	left: 0;
    position: fixed;
	color: #fff;
	/* display: flex; */
	flex-direction: column;
	align-items: center;
    justify-content: flex-start;
	font-family: Arial, Helvetica, sans-serif;
}

.left-navbar-header {
	text-align: center;
	line-height: 1.7rem;
	padding: 20px;
	position: absolute;
	
}

.left-navbar-header img {
	max-width: 100%;
	width: 10rem; /* added fixed width of 10rem */
	height: 10rem; /* added fixed height of 10rem */
	border-radius: 50%;
	display: block;
	margin: 0 auto 10px auto; /* centered the image */
	
}
.left-navbar-header h2 {
	color: #fff;
	margin: 0;
	font-size: 1.2rem;
}

.left-navbar-header hr {
	border: none;
	height: 1px;
	background-color: #fff;
	margin: 10px 0;
	width: 100%;
}

.left-navbar-header p {
	margin: 0;
	text-align: left;
	font-size: 0.8rem;
	line-height: 2.0;
}

.category-header {
	font-weight: bold;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 1.1rem;
}

.category-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0.9rem;
}

.category-list-item {
	margin: 0;
	padding: 5px 10px;
}

.category-header {
	font-weight: bold;
}

.master-options {
	display: none;
}

.left-navbar .category-button {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: left;
	margin: 0;
	background-color: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.left-navbar .category-button:hover {
	background-color: #fff;
	color: #1E4FFF;
}

.left-navbar .category-button:last-child {
	border-bottom: none;
}

.left-navbar .category-list {
	text-align: left;
}

/* Button's code for graduate and undergraduate category */
.doctoral-degree-button {
	font-size: 0.9rem;
}

.masters-degree-button {
	font-size: 0.9rem;
}

#graduate-options,#undergraduate-options,
#master-options {
	display: none;
}

.category-button.show {
	display: block;
}

	.left-navbar-header {
		text-align: center;
		line-height: 1.7rem;
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		}
		
		.left-navbar-header img {
		max-width: 100%;
		border-radius: 50%;
		display: block;
		margin-bottom: 10px;
		width: 150px; /* added fixed width /
		height: 150px; / added fixed height */
		}
		
		.category-header {
		font-weight: bold;
		margin-top: 20px;
		margin-left: 10px;
		font-size: 1.1rem;
		}
		
		.category-list {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0.9rem;
		}
		
		.category-list-item {
		margin: 0;
		padding: 5px 10px;
		}
		
		.master-options, #undergraduate-options {
		display: none;
		}
		
		.left-navbar .category-button {
		display: block;
		width: 100%;
		height: 40px;
		line-height: 40px;
		text-align: left;
		margin: 0;
		background-color: transparent;
		border: none;
		color: #fff;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		}
		
		.left-navbar .category-button:hover {
		background-color: #fff;
		color: #1E4FFF;
		}
		
		.left-navbar .category-button:last-child {
		border-bottom: none;
		}
		
		.left-navbar .category-list {
		text-align: left;
		}
		
		/* Increased width of navbar to 20rem */
		.left-navbar {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 15rem;
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		}
	
	/* Responsive styles */
	@media only screen and (max-width: 768px) {
		.left-navbar {
		position: static;
		height: auto;
		width: 100%;
		}
	}

	.logout-button {
		box-shadow: 3px 4px 0px 0px #8a2a21;
		background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
		background-color:#c62d1f;
		border-radius:18px;
		border:1px solid #d02718;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:17px;
		padding:7px 25px;
		text-decoration:none;
		text-shadow:0px 1px 0px #810e05;
	}
	.logout-button:hover {
		background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
		background-color:#f24437;
	}
	.logout-button:active {
		position:relative;
		top:1px;
	}

	.profile-btn {
		box-shadow: 3px 4px 0px 0px #191370;
		background:linear-gradient(to bottom, #7867c0 5%, #1322a7 100%);
		background-color:#5732dd;
		border-radius:18px;
		border:1px solid #2418d0;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:17px;
		padding:7px 25px;
		text-decoration:none;
		text-shadow:0px 1px 0px #2a0581;
	}
	.profile-btn:hover {
		background:linear-gradient(to bottom, #4337f2 5%, #1f2ac6 100%);
		background-color:#3743f2;
	}
	.profile-btn:active {
		position:relative;
		top:1px;
	}




/* CK's end */

.main {
	height: calc(100% - 100px); 
	 width: calc(100% - 250px);
	position: absolute;
	top: 100px;
	left: 250px;
    
}
body {
    /* background-image: url('https://neu.edu.ph/main/assets/images/NEU_Main2.jpg'); */
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 1180px;
      
  }

  /* Responsive part */

