body {
	margin: 0;
	  padding: 0;
	  height: 100%;
	  background-image: url('https://neu.edu.ph/main/assets/images/NEU_Main2.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 1180px;
		
	}

  .top-nav
  {
	background-color:white;
	height:80px;
	width:1158px;
	position:absolute;
	left:250px;
  }
  
  nav form
  {
	position:absolute;
	top:15px;
	left:150px;
  }
  
  nav form input[type="text"]
  {
	padding: 10px;
	  border: 1px solid black;
	  border-radius: 10px 0 0 10px;
	  font-size: 20px;
	  width: 400px;
  }
  nav form button[type="submit"]
  {
	padding: 10px 20px;
	  background-color: #007bff;
	  color: #fff;
	  border: none;
	  border-radius: 0 10px 10px 0;
	  font-size: 20px;
	  cursor: pointer;
  }
  nav ul
  {
	float:right;
	margin-right:20px;
	margin-top:0px;
  }
  nav ul li
  {
	display: inline-block;
	line-height:20px;
  /*   position:absolute;
	top:80px; */
  }
  nav ul li a
  {
	color:blue;
	margin: 20px 0;
  }
  .logout-button {
		  box-shadow: 3px 4px 0px 0px #8a2a21;
		  background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
		  background-color:#c62d1f;
		  border-radius:18px;
		  border:1px solid #d02718;
		  display:inline-block;
		  cursor:pointer;
		  color:#ffffff;
		  font-family:Arial;
		  font-size:17px;
		  padding:7px 25px;
		  text-decoration:none;
		  text-shadow:0px 1px 0px #810e05;
	  }
	  .logout-button:hover {
		  background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
		  background-color:#f24437;
	  }
	  .logout-button:active {
		  position:relative;
		  top:1px;
	  }
  
	  .profile-btn {
		  box-shadow: 3px 4px 0px 0px #191370;
		  background:linear-gradient(to bottom, #7867c0 5%, #1322a7 100%);
		  background-color:#5732dd;
		  border-radius:18px;
		  border:1px solid #2418d0;
		  display:inline-block;
		  cursor:pointer;
		  color:#ffffff;
		  font-family:Arial;
		  font-size:17px;
		  padding:7px 25px;
		  text-decoration:none;
		  text-shadow:0px 1px 0px #2a0581;
	  }
	  .profile-btn:hover {
		  background:linear-gradient(to bottom, #4337f2 5%, #1f2ac6 100%);
		  background-color:#3743f2;
	  }
	  .profile-btn:active {
		  position:relative;
		  top:1px;
	  }

  

  /*Left navbar CK's part  */
.left-navbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 15rem; /* changed width to 20rem */
	background-color: #444;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: #1E4FFF;
	background-image: linear-gradient(135deg, #1904E5 10%, #FAB2FF 100%);
}

.left-navbar-header {
	text-align: center;
	line-height: 1.7rem;
	padding: 20px;
}

.left-navbar-header img {
	max-width: 100%;
	width: 10rem; /* added fixed width of 10rem */
	height: 10rem; /* added fixed height of 10rem */
	border-radius: 50%;
	display: block;
	margin: 0 auto 10px auto; /* centered the image */
}

.left-navbar-header h2 {
	color: #fff;
	margin: 0;
	font-size: 1.2rem;
}

.left-navbar-header hr {
	border: none;
	height: 1px;
	background-color: #fff;
	margin: 10px 0;
	width: 100%;
}

.left-navbar-header p {
	margin: 0;
	text-align: left;
	font-size: 0.8rem;
	line-height: 2.0;
}

.category-header {
	font-weight: bold;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 1.1rem;
}

.category-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0.9rem;
}

.category-list-item {
	margin: 0;
	padding: 5px 10px;
}

.category-header {
	font-weight: bold;
}

.master-options {
	display: none;
}

.left-navbar .category-button {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: left;
	margin: 0;
	background-color: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.left-navbar .category-button:hover {
	background-color: #fff;
	color: #1E4FFF;
}

.left-navbar .category-button:last-child {
	border-bottom: none;
}

.left-navbar .category-list {
	text-align: left;
}

/* Button's code for graduate and undergraduate category */
.doctoral-degree-button {
	font-size: 0.9rem;
}

.masters-degree-button {
	font-size: 0.9rem;
}

#graduate-options,#undergraduate-options,
#master-options {
	display: none;
}

.category-button.show {
	display: block;
}

	.left-navbar-header {
		text-align: center;
		line-height: 1.7rem;
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		}
		
		.left-navbar-header img {
		max-width: 100%;
		border-radius: 50%;
		display: block;
		margin-bottom: 10px;
		width: 150px; /* added fixed width /
		height: 150px; / added fixed height */
		}
		
		.category-header {
		font-weight: bold;
		margin-top: 20px;
		margin-left: 10px;
		font-size: 1.1rem;
		}
		
		.category-list {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0.9rem;
		}
		
		.category-list-item {
		margin: 0;
		padding: 5px 10px;
		}
		
		.master-options, #undergraduate-options {
		display: none;
		}
		
		.left-navbar .category-button {
		display: block;
		width: 100%;
		height: 40px;
		line-height: 40px;
		text-align: left;
		margin: 0;
		background-color: transparent;
		border: none;
		color: #fff;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		}
		
		.left-navbar .category-button:hover {
		background-color: #fff;
		color: #1E4FFF;
		}
		
		.left-navbar .category-button:last-child {
		border-bottom: none;
		}
		
		.left-navbar .category-list {
		text-align: left;
		}
		
		/* Increased width of navbar to 20rem */
		.left-navbar {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 15rem;
		background-color: #444;
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		background-color: #1E4FFF;
		}
	
	/* Responsive styles */
	@media only screen and (max-width: 768px) {
		.left-navbar {
		position: static;
		height: auto;
		width: 100%;
		}
	}

	.logout-button {
		box-shadow: 3px 4px 0px 0px #8a2a21;
		background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
		background-color:#c62d1f;
		border-radius:18px;
		border:1px solid #d02718;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:17px;
		padding:7px 25px;
		text-decoration:none;
		text-shadow:0px 1px 0px #810e05;
	}
	.logout-button:hover {
		background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
		background-color:#f24437;
	}
	.logout-button:active {
		position:relative;
		top:1px;
	}

	.profile-btn {
		box-shadow: 3px 4px 0px 0px #191370;
		background:linear-gradient(to bottom, #7867c0 5%, #1322a7 100%);
		background-color:#5732dd;
		border-radius:18px;
		border:1px solid #2418d0;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:17px;
		padding:7px 25px;
		text-decoration:none;
		text-shadow:0px 1px 0px #2a0581;
	}
	.profile-btn:hover {
		background:linear-gradient(to bottom, #4337f2 5%, #1f2ac6 100%);
		background-color:#3743f2;
	}
	.profile-btn:active {
		position:relative;
		top:1px;
	}


	
	/* End of CK */

  
  .content {
	display: inline-block;
	margin: 100px 0 0 200px;
	padding: 20px;
	position: static;
  }


